@charset "utf-8";
html,body,div,h2,ul,li,span,em,p,dl,dd,i,input, textarea, select, option,button{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    font-family: "Microsoft Yahei", "Arial" ;
    font-size: 14px;
    background: #edf1f5;
    height: 100%;
    overflow: hidden;
    color: #666;
}
html,body,#app{
  width: 100%;
  height: 100%;
}
ul,li{
  list-style: none;
}
h2{
  font-size: 14px;
  font-weight: normal;
}
button{
  border: none;
  cursor: pointer;
}
textarea{
  resize: none;
  border-radius: 5px;
  color: #5a5e66;
  border-color: #D8DCE5;
  width: 100%;
  padding: 10px;
  min-height: 70px;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: #666;
}
em{
  font-style: normal;
}
.loncom_ml5{
  margin-left: 5px !important;
}
.loncom_ml10{
  margin-left: 10px !important;
}
.loncom_ml15{
  margin-left: 15px !important;
}
.loncom_mr5{
  margin-right: 5px !important;
}
.loncom_mr10{
  margin-right: 10px !important;
}
.loncom_mb10{
  margin-bottom: 10px !important;
}
.loncom_mr20{
   margin-right: 20px !important;
 }
 .loncom_mr50{
   margin-right: 50px !important;
 }
.loncom_mb15{
  margin-bottom: 15px !important;
}
.loncom_mt10{
  margin-top: 10px !important;
}
.loncom_mt20{
  margin-top: 20px !important;
}
.loncom_pr20{
  padding-right: 20px !important;
}
.loncom_mb20{
  margin-bottom: 20px !important;
}
.loncom_mb25{
  margin-bottom: 25px !important;
}
.loncom_mb50{
  margin-bottom: 50px !important;
}
.loncom_pt10{
  padding-top: 10px !important;
}
.loncom_mtb20{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.loncom_fl{
  float:left;
}
.loncom_fr{
  float: right;
}
.loncom_overflow_hidden{
  overflow: hidden;
}
.loncom_public_shadow {
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
.loncom_public_shadow:hover {
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}
.loncom_dis_inline{
  display: inline;
}
.loncom_dis_inlineblock{
  display: inline-block;
}
.loncom_pointer{
  cursor: pointer;
}
.loncom_content{
  width: 100% !important;
  height: 100% !important;
}
.loncom_bgfff{
  background: #fff;
}
.loncom_color{
  color: #409EFF;
}
.loncom_color:hover{
  color: #66B1FF;
}

/*sidebar侧边导航*/
.loncom_sidebar{
  width: 160px;
  height: 100%;
  display: block;
  background: #20436b;
  left: 0;
  color: #fff;
  position: absolute;
  z-index: 999;
  float: left;
}
.loncom_sidebar_top{
  width: 100%;
  height: 120px;
  padding: 15px;
  position: relative;
}
.loncom_sidebar_top>div{
  width: 100%;
}
.loncom_sidebar_top>div a.loncom_logo{
  position: absolute;
  right: 15px;
}
.loncom_navbtn{
  position: absolute;
  right: -60px;
  width: 40px;
  height: 40px;
  border-right: 1px solid #ddd;
  transition: all 0.2s ease-in;
  cursor: pointer;
  color: #20436b;
  line-height: 40px;
  display: block;
  top: 10px;
}
.loncom_navbtn img{
  vertical-align: middle;
}
.loncom_sidebar_list li{
  margin-top: 20px;
  width: calc(100% + 10px);
}
.loncom_sidebar_list li>a{
  border-left: 5px solid #20436b;
  display: block;
  height: auto;
  position: relative;
  width: calc(100% - 15px);
}
.loncom_sidebar_list li a{
  color: #fff;
}
.loncom_sidebar_list .loncom_nav{
  width: 100%;
  height: 40px;
  line-height: 24px;
  padding: 8px 0 8px 0;
  font-size: 16px;
  position: relative;
}
.loncom_sidebar_list .loncom_nav em{
  height: 24px;
  display: block;
  float: left;
  overflow: hidden;
  padding: 0 18px 0 13px;
  background: #20436b;
  position: relative;
  z-index: 9;
}
.loncom_sidebar_list .loncom_nav span{
  width: 100px;
  position: absolute;
  right: 0;
  display: block;
  float: left;
  z-index: -1;
}
.loncom_sidebar_list .loncom_morenav{
  width: 140px;
  display: none;
  height: 0;
  overflow: hidden;
  font-size: 14px;
  padding-left:20px;
  top: 0;
  border-radius: 3px;
}
.loncom_sidebar_list .loncom_morenav dd{
  height: 16px;
  line-height: 16px;
  margin-bottom: 20px;
}
.loncom_sidebar_list .loncom_morenav em{
  height: 16px;
  display: block;
  float: left;
  overflow: hidden;
  margin-right: 10px;
}
.loncom_sidebar_list li>a.router-link-active{
  color: #fd743d;
  border-color: #fd743d;
  display: block;
  background: #285688;
}
.loncom_sidebar_list .loncom_morenav .router-link-active{
  color: #fd743d;
}
.loncom_sidebar_list .router-link-active .loncom_nav em{
  background: #285688;
}
.loncom_sidebar_list .router-link-active .loncom_nav span{
  z-index: 1;
}
.loncom_sidebar_list .router-link-active .loncom_nav em img{
  margin-top: -24px;
}
.loncom_sidebar_list .loncom_morenav .router-link-active em img{
  margin-top: -16px;
}
/*公共右边*/
.loncom_sidebar_right{
  width: 100%;
  height: 100%;
  float: left;
  padding-left: 160px;
}
.loncom_public_top{
  width: 100%;
  height: 60px;
  padding: 10px 0 10px 70px;
  line-height: 40px;
  background: #fff;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.loncom_public_topinfo{
  font-size: 16px;
  color: #33C466;
} 
.loncom_public_top img{
  vertical-align: middle;
}
.loncom_public_right{
  width: 100%;
  height: calc(100% - 60px);
}
.loncom_tpadding{
  padding: 0 15px;
}
.loncom_public_filter{
  width: 100%;
  height: 35px;
}
.loncom_filter_group{
  display: inline-block;
}
.loncom_filter_label{
  color: #999;
}
.loncom_public_filter .el-select{
  width: 100px;
}
.loncom_table_btn{ 
  position: absolute;
  left: 48px;
  bottom: 15px;
}
.loncom_public_add{
  width: 100%;
  max-width: 1120px;
  height: 100%;
  padding-top: 20px;
  margin: 0 auto;
}
.loncom_public_add_title{
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-indent: 15px;
  background: #F3F3F3;
  border: 1px solid #e0e0e0;
}
.loncom_public_add_con{
  width: 100%;
  height: calc(100% - 120px);
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 30px 20px 0 20px;
}
.loncom_public_submit {
    text-align: right;
    padding: 12px 0;
}
.loncom_list_boxform {
    width: 420px;
    min-height: 36px;
    line-height: 36px;
    font-size: 12px;
    overflow: hidden;
    margin: 0 auto;
}
.loncom_list_box_left {
    width: 100px;
    margin-right: 20px;
    float: left;
    color: #666;
    text-align: right;
}
.loncom_list_box_left em {
    color: #fb0101;
    margin-right: 5px;
}
.loncom_list_box_right {
    width: 300px;
    float: left;
    color: #666;
}


/*realControl实时监控*/
.realControl_loginInfo{
  float: right;
}
.realControl_loginInfo span{
  margin-left: 20px;
}
.top_logout{
  width: 60px;
  height: 40px;
  text-align: center;
  display: inline-block;
  border-left: 1px solid #ddd;
}
.realControl_search_box{
  position: absolute;
  top: 20px;
  right: 20px;
}

/*接入管理accessManage*/






@media (min-width: 1000px) {
  

}
@media (min-width: 1400px) {
  

}





 
