@charset "utf-8";
html,body,div,h2,ul,li,span,em,p,dl,dd,i,input, textarea, select, option,button{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body{
    font-family: "Microsoft Yahei", "Arial" ;
    font-size: 14px;
    background: #f7f7f7;
    height: 100%;
    overflow: hidden;
    color: #666;
}
html,body,#app{
  width: 100%;
  height: 100%;
}
ul,li{
  list-style: none;
}
h2{
  font-size: 14px;
  font-weight: normal;
}
button{
  border: none;
  cursor: pointer;
}
textarea{
  resize: none;
  border-radius: 5px;
  color: #5a5e66;
  border-color: #D8DCE5;
  width: 100%;
  padding: 10px;
  min-height: 70px;
}
a{
  text-decoration: none;
  cursor: pointer;
  color: #666;
}
em{
  font-style: normal;
}
.loncom_ml5{
  margin-left: 5px !important;
}
.loncom_ml10{
  margin-left: 10px !important;
}
.loncom_ml15{
  margin-left: 15px !important;
}
.loncom_mr5{
  margin-right: 5px !important;
}
.loncom_mr10{
  margin-right: 10px !important;
}
.loncom_mb10{
  margin-bottom: 10px !important;
}
.loncom_mr20{
   margin-right: 20px !important;
 }
 .loncom_mr50{
   margin-right: 50px !important;
 }
.loncom_mb15{
  margin-bottom: 15px !important;
}
.loncom_mt10{
  margin-top: 10px !important;
}
.loncom_mt20{
  margin-top: 20px !important;
}
.loncom_pr20{
  padding-right: 20px !important;
}
.loncom_mb20{
  margin-bottom: 20px !important;
}
.loncom_mb25{
  margin-bottom: 25px !important;
}
.loncom_mb50{
  margin-bottom: 50px !important;
}
.loncom_pt10{
  padding-top: 10px !important;
}
.loncom_mtb20{
  margin-top: 20px !important;
  margin-bottom: 20px !important;
}
.loncom_fl{
  float:left;
}
.loncom_fr{
  float: right;
}
.loncom_overflow_hidden{
  overflow: hidden;
}
.loncom_public_shadow {
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.35);
}
.loncom_public_shadow:hover {
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.45);
}
.loncom_dis_inline{
  display: inline;
}
.loncom_dis_inlineblock{
  display: inline-block;
}
.loncom_pointer{
  cursor: pointer;
}
.loncom_content{
  width: 100% !important;
  height: 100% !important;
}
.loncom_bgfff{
  background: #fff;
}
.loncom_color_main{
  color: #DA632A;
}
.loncom_color{
  color: #409EFF;
}
.loncom_color:hover{
  color: #66B1FF;
}
.loncom_timg{
  background: #007BC1;
}
.loncom_timg_con{
  width: 1000px;
  position: relative;
  margin: 0 auto;
}
.loncom_timg img{
  width: 1000px;
}
.loncom_timg_con a{
  width: 285px;
  height: 50px;
  position: absolute;
  left: 322px;
  bottom: 94px;
}
/*sidebar侧边导航*/
.loncom_sidebar{
  height: 100%;
  display: block;
  background: #20436b;
  left: 0;
  color: #fff;
  position: absolute;
  z-index: 999;
  float: left;
}
.loncom_sidebar_top{
  width: 100%;
  height: 120px;
  padding: 15px;
  position: relative;
}
.loncom_sidebar_top>div{
  width: 100%;
}
.loncom_sidebar_top>div a{
  display: none;
}
.loncom_sidebar_top>div a.loncom_logo{
  position: absolute;
  right: 15px;
}
.loncom_navbtn{
  position: absolute;
  right: -60px;
  width: 40px;
  height: 40px;
  border-right: 1px solid #ddd;
  transition: all 0.2s ease-in;
  cursor: pointer;
  color: #20436b;
  line-height: 40px;
  display: block;
  top: 10px;
}
.loncom_navbtn img{
  vertical-align: middle;
}
.loncom_sidebar_list li{
  margin-top: 20px;
  width: calc(100% + 10px);
}
.loncom_sidebar_list li>a{
  border-left: 5px solid #20436b;
  display: block;
  height: auto;
  position: relative;
  width: calc(100% - 15px);
}
.loncom_sidebar_list li a{
  color: #fff;
}
.loncom_sidebar_list .loncom_nav{
  width: 100%;
  height: 40px;
  line-height: 24px;
  padding: 8px 0 8px 0;
  font-size: 16px;
  position: relative;
}
.loncom_sidebar_list .loncom_nav em{
  height: 24px;
  display: block;
  float: left;
  overflow: hidden;
  padding: 0 18px 0 13px;
  background: #20436b;
  position: relative;
  z-index: 9;
}
.loncom_sidebar_list .loncom_nav span{
  width: 100px;
  position: absolute;
  right: 0;
  display: block;
  float: left;
  z-index: -1;
}
.loncom_sidebar_list .loncom_morenav{
  width: 140px;
  display: none;
  height: auto;
  overflow: hidden;
  font-size: 14px;
  padding-left:20px;
  background: #285688;
  top: 0;
  border-radius: 3px;
}
.loncom_sidebar_list .loncom_morenav dd{
  height: 36px;
  line-height: 36px;
}
.loncom_sidebar_list .loncom_morenav dd a{
  display: block;
}
.loncom_sidebar_list .loncom_morenav em{
  height: 16px;
  display: block;
  float: left;
  overflow: hidden;
  margin: 10px 10px 0 0;
  line-height: normal;
}
.loncom_sidebar_list li>a.router-link-active{
  color: #fd743d;
  border-color: #fd743d;
  display: block;
  background: #285688;
}
.loncom_sidebar_list .loncom_morenav .router-link-active,
.loncom_sidebar_list li:hover>a,
.loncom_sidebar_list .loncom_morenav dd:hover a{
  color: #fd743d;
}
.loncom_sidebar_list .router-link-active .loncom_nav em{
  background: #285688;
}
.loncom_sidebar_list .router-link-active .loncom_nav span{
  z-index: 1;
}
.loncom_sidebar_list .router-link-active .loncom_nav em img,
.loncom_sidebar_list li:hover>a .loncom_nav em img{
  margin-top: -24px;
}
.loncom_sidebar_list .loncom_morenav .router-link-active em img,
.loncom_sidebar_list .loncom_morenav dd:hover em img{
  margin-top: -16px;
}
/*重置element*/
.el-dialog__body{
  padding: 0 !important;
}
.el-dialog, .el-message-box {
    margin-bottom: 0 !important;
    border-radius: 10px !important;
}
.el-dialog__header, .el-message-box__header {
    border-bottom: 1px solid #e0e0e0;
    padding: 11px 20px 10px !important;
    background: #f2f2f2;
    border-radius: 10px 10px 0 0;
}
.el-dialog__title, .el-message-box__title {
    font-size: 14px !important;
    color: #666 !important;
}
.dialog-footer {
    padding: 20px !important;
    text-align: right;
}
.dialog-footer, .el-message-box__btns {
    border-top: 1px solid #e0e0e0;
}
.dialog-footer .el-button, .el-message-box__btns .el-button {
    padding: 8px 20px;
}
.el-transfer-panel .el-transfer-panel__header .el-checkbox .el-checkbox__label{
  font-size: 14px !important;
}
.el-message-box__content {
    padding: 50px 15px !important;
}
.el-form-item__content{
  display: block !important;
}
.template_eventruleaddbox .loncom_list_box_right .el-select{
  width: auto;
}
.loncom_list_box_right .el-select{
  width: 100%;
}

/*公共右边*/
.loncom_sidebar_right{
  width: 100%;
  height: 100%;
  float: left;
  padding-left: 160px;
}
.loncom_public_top{
  width: 100%;
  height: 60px;
  padding: 10px 0 10px 70px;
  line-height: 40px;
  background: #fff;
  vertical-align: middle;
  border-bottom: 1px solid #ddd;
}
.loncom_public_topinfo{
  font-size: 16px;
  color: #33C466;
} 
.loncom_public_top img{
  vertical-align: middle;
}
.loncom_public_right{
  width: 100%;
  height: calc(100% - 60px);
}
.loncom_tpadding{
  padding: 15px;
  height: 100%;
  width: 100%;
}
.loncom_public_filter{
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: #fff;
}
.loncom_filter_group{
  display: inline-block;
}
.loncom_filter_label{
  color: #999;
}
.loncom_public_table{
  width: 100%;
  height:100%;
  background: #fff;
}
.loncom_public_filter .el-select{
  width: 100px;
}
.loncom_table_btn{ 
  position: absolute;
  left: 48px;
  bottom: 15px;
}
.loncom_public_add{
  width: 100%;
  max-width: 1120px;
  height: 100%;
  padding-top: 20px;
  margin: 0 auto;
}
.loncom_public_add_title{
  width: 100%;
  height: 46px;
  line-height: 46px;
  text-indent: 15px;
  background: #F3F3F3;
  border: 1px solid #e0e0e0;
}
.loncom_public_add_con{
  width: 100%;
  height: calc(100% - 120px);
  border: 1px solid #e0e0e0;
  background: #fff;
  padding: 30px 20px 20px 20px;
}
.loncom_public_submit {
    text-align: right;
    padding: 12px 0;
}
.loncom_list_boxform {
    width: 420px;
    min-height: 36px;
    line-height: 36px;
    padding-bottom: 20px;
    font-size: 12px;
    overflow: hidden;
    margin: 0 auto;
}
.loncom_list_box_left {
    width: 100px;
    margin-right: 20px;
    float: left;
    color: #666;
    text-align: right;
}
.loncom_list_box_left em {
    color: #fb0101;
    margin-right: 5px;
}
.loncom_list_box_right {
    width: 300px;
    float: left;
    color: #666;
}
.el-form-item{
  margin-bottom: 0 !important;
}
.loncom_login_input .el-form-item{
  margin-bottom: 20px !important;
  height: auto !important;
}
.loncom_list_boxform textarea{
  min-height: 120px !important;
}
.loncom_dialog_con{
  border: none;
}
.form_add{
  position: absolute;
  right: 0;
  top: 5px;
}
.top_loginInfo{
  float: right;
}
.top_loginInfo span{
  margin-left: 20px;
}
.top_logout{
  width: 60px;
  height: 40px;
  text-align: center;
  display: inline-block;
  border-left: 1px solid #ddd;
  cursor: pointer;
}
.hisalarm_table form input{
  width: 120px;
}

/*登录页面*/

.loncom_login {
  width: 100%;
  height: 220px;
  background: #da632a url(../images/login_bg.png) no-repeat right bottom;
  position: relative;
  top: 50%;
  margin-top: -110px;
}

.loncom_login_con {
  width: 350px;
  height: 420px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -175px;
  margin-top: -210px;
  background: #fff;
  padding: 20px 25px;
  border-top: 10px solid #da632a;
}

.loncom_login_con .loncom_logo_img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  background: url(../images/logo_small.svg) no-repeat center center;
  background-size: contain;
}

.loncom_login_con .loncom_logo_text {
  text-align: center;
  font-style: normal;
  font-size: 24px;
  color: #da632a;
  font-weight: bold;
  margin: 20px 0;
}

.loncom_login_input input {
  width: 100%;
  height: 50px;
  border: 1px solid #DBDBDB;
  border-radius: 3px;
  padding-left: 40px;
  color: #999;
}

.loncom_login_input p {
  margin-bottom: 20px;
}

.loncom_login_input .loncom_user input{
  background: url(../images/login_user.png) no-repeat 10px center !important;
}

.loncom_login_input .loncom_pass input{
  background: url(../images/login_pass.png) no-repeat 10px center !important;
}
input:-webkit-autofill { 
  background-color: none;
} 
.loncom_login_input {
  margin-left:0 !important; 
}

.loncom_login_input button {
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  background: #da632a;
  color: #fff;
}


/*realControl实时监控*/
.gis_left{
  width: 150px;
  position: absolute;
  top: 20px;
  left: 20px;
}
.gis_left .gis_left_box{
  width: 100%;
  height: 100px;
  padding: 15px;
  background: url(../images/index_alarmbg.svg) bottom right;
  color: #fff;
  margin-bottom: 20px;
  border-radius: 10px;
  font-size: 16px;
}
.gis_left .gis_left_box span{
  font-size: 26px;
    font-weight: bold;
    margin-top: 10px;
    display: block;
    text-align: center;
}
.gis_left .gis_left_box:nth-of-type(2){
 background: url(../images/index_devbg.svg) bottom right;
}
.gis_right{
  position: absolute;
  right: 20px;
  top: 20px;
  width: 300px;
    height: calc(100% - 100px);
}
.gis_right .searchbox{
  width: 100%;
  height: calc(100% - 40px);
}
.gis_right .searchbox .searchboxcon{
  padding: 0 20px;
  background: #F2F2F2;
  width: 100%;
}
.gis_right .searchlist{
  border-bottom: 1px solid #E4E4E4;
  padding: 20px 0;
  color: #000;
}
.gis_right .searchlist h2{
  margin-bottom: 10px;
}
.gis_right .searchlist h2 span{
  cursor: pointer;
}
.gis_right .searchlist h2 span:hover{
  color: #ce612e;
}
.gis_right .searchlist h2 i{
  color: #ce612e;
  float: right;
  font-size: 18px;
  cursor: pointer;
}
.gis_right .searchlist p{
  min-height: 24px;
  line-height: 24px;
  font-size: 12px;
  color: #333;
}
.gis_bottom{
  width: 100%;
  height: 345px;
  position: absolute;
  bottom: -300px;
  border-top: 1px solid #E4E4E4;
  background: #fff;
  padding: 0 20px;
}
.gis_bottom_top{
  width: 100%;
  height: 45px;
  line-height: 45px;
  border-bottom: 1px solid #E4E4E4;
}
.gis_bottom_top h2{
  float: left;
  font-size: 16px;
  color: #ce612e;
}
.gis_bottom_top span{
  float: right;
  color: #ce612e;
  font-size: 20px;
  cursor: pointer;
  margin: 10px;
  font-weight: bold;
}
.gis_bottom_con{
  width: 100%;
  height: 300px;
  padding: 15px 0;
}
.gis_bottomlist{
  height: 70px;
  padding: 10px 0;
    border-bottom: 1px solid #e4e4e4;
}
.gis_bottomlist_left{
  line-height: 50px;
  margin-right: 20px;
}
.gis_bottomlist_left span{
  padding: 3px 8px;
  border-radius: 3px;
  color: #fff;
}
.gis_bottomlist_left span.alarm{
  background: #ded941;
}
.gis_bottomlist_left span.alarm1{
  background: #ded941;
}
.gis_bottomlist_left span.alarm2{
  background: #e69836;
}
.gis_bottomlist_left span.alarm3{
  background: #f38905;
}
.gis_bottomlist_left span.alarm4{
  background: #ec4444;
}
.gis_bottomlist_left span.alarm5{
  background: #f00;
}
.gis_bottomlist .gis_bottomlist_center{
  float: left
}
.gis_bottomlist_center h2{
  color: #000;
  line-height: 26px;
}
.gis_bottomlist_right i{
     font-size: 20px;
    color: #ce612e;
    line-height: 50px;
    margin-right: 10px;
    cursor: pointer;
}
.loncom_map_box{
  min-width: 300px;
  height: auto;
  overflow: hidden;
  box-shadow: 1px 1px 3px #ccc;
  background: #fff;
  margin-bottom: 10px;
}
.loncom_map_boxtop {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background: #22AC38;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-indent: 15px;
}
.loncom_map_boxtopalarm{
  background: #C93F24;
}
.loncom_map_boxcon {
    padding: 15px;
    font-size: 12px;
}
.loncom_map_boxcon p{
  line-height: 25px;
}
.gis_right .searchlist .dangan{
  cursor: pointer;
}

.hisDataecharts{
  width: 100%;
  height: 480px;
}
.paginationbox{
  margin: 10px 0;
  text-align: right;
}
.pagination .active.disabled a{
  color: #000;
}
.pagination li.active a{
   color: #fff;
}



/*接入管理accessManage*/


/*系统管理*/
.msManage_table{
  width: calc(100% - 250px);
  height: 100%;
  float: left;
}
.msManage_tree{
  width: 250px;
  height: 100%;
  float: left;
}
.msManage_tree_title{
    height: 40px;
    line-height: 35px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    color: #33c466;
}
.msManage_tree_con{
  width: 100%;
  height: calc(100% - 40px);
  background: #fff;
  border: 1px solid #e0e0e0;
  padding: 20px 10px 0 10px;
}

/*模板管理*/
.templateManage_inform_probox .active{
  color: #33C466;
}
.templateManage_informright{
  overflow: hidden;
  padding-top: 20px;
}
.templateManage_inform_form{
  width: 450px;
  height: auto;
  float: left;
}
.templateManage_inform_info{
  width: calc(100% - 450px);
  height: auto;
  float: left;
  padding: 0 40px;
}
/*首页*/
.index_content{
  padding: 20px 0 20px 20px;
}
.index_box{
  padding-right: 20px;
  float: left;
  height: 300px;
  margin-bottom: 20px;
}
.index_box1{
  width: 65%;
  height: 300px;
}
.index_box2{
  width: 35%;
  height: 300px;
}
.index_box3{
  width: 50%;
}
.index_box4{
  width: 100%;
}
.boxcontent{
  width: 100%;
  height: 100%;
  border: 1px solid #E0E0E0;
  background: #fff;
}
.index_box_title{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: #F3F3F3;
    text-indent: 15px;
    border-bottom: 1px solid #e0e0e0;
}
.index_box_con{
  width: 100%;
  height: calc(100% - 40px);
}


@media (min-width: 1000px) {
  

}
@media (min-width: 1400px) {
  

}





 
